@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@500;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
/* Heading */
.heading{
    display: flex;
    margin-top: 43px;
    align-items: center; 
}
.menu-items{
    margin-left: 614px;
}
.menu-items ul{
    display: flex;
    flex-direction: row;
   
}
.menu-items li{
    list-style-type: none;
    margin-right: 34px;
}
.menu-items li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
.icon{
    font-size: 24px;
}
.left-side,.container{
    margin-left: 120px;
}
.left-side h3{
    color: #3A3A3A;
    font-size: 24px;
}

/* Starting Journey */
.journey-img{
    background-image: url("images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: left;
    height: 475px;
    width: 475px;
    margin-right: 132px;
    position: relative;
}
.journey-img img{
    width: 440px;
    height: 414px; 
    transition: transform 2s ease-out;
    margin:30px 33px 31px 2px;
  
}
.journey-img img:hover{
    transform: rotate(360deg) scale(0.6);
}
.container{
    display: flex;
    margin-top: 72.9px;
}
.journey-title{
    width: 582px;
    height: 270px;
    margin-right: 133px;
   
}
.journey-title h1{
    font-size: 52px;
    color:#3A3A3A;
    margin-bottom: 16px;
}
.journey-title p{
    text-align: justify;
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}
.journey-title button{
    margin-top: 16.1px;
    background-color: #E02C6D;
    color: white;
    font-size: 16px;
    margin: 10px 24px;
    border-radius: 41px;
    border-style: none;
    width: 196px;
    height: 44px;
}

.fa-arrow-right{
    margin-left: 8px;
    width: 24px;
    height: 18px;
}

/* Logo */

.first-line{
    display: absolute;
    margin-top:100px ;
    margin-left: 165px;
    margin-right: 165px;
}
.last-line{
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 36px;
    background-image: radial-gradient(white,gray);
}
.logo-items{
    display: flex;
    margin-left: 227px;
    margin-right: 226.53;
    margin-top: 36px;
}

.margin{
    margin-left: 61px;
}

/* Grid Main Section */
.collection-headline{
    font-size: 28px;
    font-weight: 600px;
    color: #3A3A3A;
    text-align: center;
   
}
.collection{
    width: 1047px;
   
    margin-left: 196px;
    margin-right: 197px;
    margin-top: 100px;
   
}
.grid-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.popular{
    width: 329px;
    height: 520px;
    box-shadow: 3px 3px 30px 3px rgba(128, 128, 128, 0.466);
    margin-top: 30px;
    
}
.collection-img img{
    width: 300px;
    height: 256px;
    margin-top: 17px;
    margin-left: 14px;
}
.collection-detail{
    margin-left: 14px;
}
.course-title{
    margin-top: 16px;
    font-weight: 500px;
    font-size: 28px;
    
}
.amount{
    margin-top: -28px;
    font-weight: 400px;
    font-size: 24px;
}
.things-info{
    width: 196px;
    height: 61;
}
.field{
    color: #ffa500;
    font-size: 16px;
}
.star{
    margin-top: -25px;
}
.star span{
    color: #5E6366;
}
.about-item{
    width: 196px;
    height: 61px;
    margin-top: -10px;
    margin-bottom: -17px;
}
.about-item p{
    font-size: 14px;
    color: #787885;
}
.grid-button{
    width: 150px;
    height: 24px;
    color: #E02C6D;
    background-color: white;
    border-style: none;
    font-size: 16px;
    font-weight: 700;
   margin-right: 0px;
   cursor: pointer;
}
.fa-long-arrow-alt-right{
    font-size: 16px;
    color: #E02C6D;
    margin-left: -30px;
}
.gear-button{
    display: flex;
    align-items:center ;
    justify-content: flex-end;
    margin-top: 50px;
}

/* Last Section */
.photography{
    width: 1130px;
    margin-left: 170px;
    margin-right: 100px;
    margin-top: 100px; 
}
.photography h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
}
.photography h1 span{
    color: #E02C6D;;
}
.influencers{
    width: 1100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.second-part{
    display: flex;
    flex-grow: 1;
    width:900px;
    position: relative;
    
}
.img-div{
    margin-left: 30px;
    width: 300px;
}
.second-part img{
    width: 100%;
    height: 330px;
    transition: transform 2s ease;
}
.second-part img:hover{
   
    transform: scale(1.1);
}

.second-part:hover .img-heading{
    display: block;
}

.best-influencers{
   display: flex;
}
.first-part{
    width: 200px;
}
.content{
    height: 250px;
}
.content p{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}
.img-heading{
    background-color: rgba(240, 138, 138, 0.363);
    position: absolute;
    top: 0;
    text-align:center ;
    transition: transform 2s ease;
    display: none;
}
.img-heading:hover{
    transform: scale(1.1);
}
.img-div h2{
    text-align: center;
    padding:10px;
   
}
 
.content p:hover{
    text-shadow: 4px 4px 4px gray;
}
.content button{
    margin-top: 16.1px;
    background-color: #E02C6D;
    color: white;
    font-size: 16px;
    margin: 10px 24px;
    border-radius: 41px;
    border-style: none;
    width: 196px;
    height: 44px;
    margin: auto;
}

/* Footer */
.footer-section{
    width: 100%;
    height: 240px;
    background-color: rgb(19, 19, 58);
    margin-top: 100px;
}

.footer-heading{
    width: 262px;
    height: 139px;
    margin:  auto;
    margin-top: 50px;
}
.footer-heading h2{
    margin-top: 50px;
    color: white;
}


   